################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Projeto.Livraria.Api/v15/Server/sqlite3
